
<% title params[:q] ? "Amazon search: #{params[:q]}" : "Amazon search" %>

<div id="mode_buttons">
  <%= mode_button('grid', @mode) %>
  <%= mode_button('list', @mode) %>
</div>

<% case @books -%>
<% when nil -%>
  <%= messages "enter a search term…"  %>
<% when [] -%>
  <%= messages "'#{params[:q]}' did not match any books" %>
<% else -%>
  <%= show_books(@books, @mode) %>

  <%= messages "go to #{link_to 'amazon...', amazon_search_link(params[:q])}",
               "bookmarklet: #{link_to 'booklife...', booklife_bookmarklet}",
               :style => "position: absolute; right: 0; bottom: 0;" %>
<% end -%>


<% javascript_tag do -%>
  $(document).ready(function() {
    <% if @books.nil? -%>
    $('#nav input:text').focus();
    <% end -%>

    <% if @mode == 'list' -%>$(document).bind('keypress', {combi:'1', disableInInput: true}, function() { location = '<%= url_for_mode('grid', false) %>'; });<% end -%>
    <% if @mode == 'grid' -%>$(document).bind('keypress', {combi:'2', disableInInput: true}, function() { location = '<%= url_for_mode('list', false) %>'; });<% end %>
  });
<% end -%>

